<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.martinscomic.comicrepublic">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.SET_WALLPAPER" />
    <uses-permission android:name="android.permission.SET_WALLPAPER_HINTS" />


    <meta-data
        android:name="firebase_messaging_auto_init_enabled"
        android:value="false" />
    <meta-data
        android:name="firebase_analytics_collection_enabled"
        android:value="false" />

    <application
        android:name="com.martinscomic.comicrepublic.MyApplications"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.martinscomic.comicrepublic.ComicWallpaperActivity"></activity>
        <activity
            android:name="com.martinscomic.comicrepublic.ProfileAccountActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id"
            tools:replace="android:value" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.martinscomic.comicrepublic.ComicRepublicSplashActivity"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme" />
        <activity android:name="com.martinscomic.comicrepublic.image.ImageViewActivity" />
        <activity android:name="com.martinscomic.comicrepublic.video.VideoActivity" />
        <activity
            android:name="com.martinscomic.comicrepublic.home.StatusHomeActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".VideoActivity" />
        <activity
            android:name=".ImageViewActivity"
            android:label="@string/title_activity_image_view"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.martinscomic.comicrepublic.CRWeatherActivity"
            android:screenOrientation="portrait"
            android:theme="@style/CustomTheme" />
        <activity
            android:name="com.martinscomic.comicrepublic.DetailsActivity"
            android:theme="@style/NewMessage" />
        <activity
            android:name="com.martinscomic.comicrepublic.ComicRepublicNewsActivity"
            android:theme="@style/NewMessage" />
        <activity
            android:name="com.martinscomic.comicrepublic.EmailSignInActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme" />
        <activity android:name="com.martinscomic.comicrepublic.ChatLogActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.martinscomic.comicrepublic.LatestMessagesActivity" />
        </activity>
        <activity
            android:name="com.martinscomic.comicrepublic.NewMessageActivity"
            android:label="@string/new_message"
            android:noHistory="true"
            android:theme="@style/NewMessage">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.martinscomic.comicrepublic.LatestMessagesActivity" />
        </activity>
        <activity
            android:name="com.martinscomic.comicrepublic.SignUpActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme" />
        <activity
            android:name="com.martinscomic.comicrepublic.SignInActivity"
            android:label="Start firing messages"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme" />
        <activity
            android:name="com.martinscomic.comicrepublic.LatestMessagesActivity"
            android:label="@string/comic_chat"
            android:noHistory="true"
            android:theme="@style/ChatTheme" />
        <activity
            android:name="com.martinscomic.comicrepublic.ComicRepublic2Activity"
            android:theme="@style/SplashTheme" />
        <activity
            android:name="com.martinscomic.comicrepublic.ComicFeedsActivity"
            android:label="@string/title_activity_comic_feeds" />
        <activity
            android:name="com.martinscomic.comicrepublic.SnapsActivity"
            android:screenOrientation="portrait"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:theme="@style/SplashTheme" />
        <activity
            android:name="com.martinscomic.comicrepublic.SplashScreenActivity"
            android:noHistory="true"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />

        <receiver android:name="com.martinscomic.comicrepublic.ConnectionReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.martinscomic.comicrepublic.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/default_notification_channel_id" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>